.login {
  display: flex;
  height: 100vh;
}

.login__welcome {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5596e6;
}

.login__welcome > h2 {
  margin: 0px 30px;
  font-weight: bold;
  font-size: 3.2rem;
  color: #fcfcfc;
  line-height: 1.3;
  text-shadow: 4px 4px #3180e1, 8px 8px #3180e1;
}

.login_func {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_func > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 15px;
}

.login_func > a > .MuiSvgIcon-root {
  margin-right: 15px;
}

.login__btn {
}
.login__btn button {
  margin-right: 15px;
}

.login__btn button .MuiSvgIcon-root {
  margin-right: 15px;
}
